/**
 *  hypnoload.style.scss
 *    the hypnotic loading animation - by Freek van der Wand
 */

$width: .75rem;             // thickness of a spinning-wheel [1rem]
$count: 6;                  // how many spinning-wheels [3]

$color: #DA4826;            // base fill color [#C4C4C4]
$col-change: 25;            // how much the color should change [50]

$bg-color: #FFFFC4;         // background color [transparent]

$duration-max: 7;           // maximal animation duration (biggest spinning wheel) [4]
$duration-min: 2;           // minimal animiaton duration (smallest spinning wheel) [1]

